body {
  background-color: black;
  color: #fff;
}
a {
  color: blueviolet;
}
.App-header {
  margin: 0 auto;
  max-width: 960px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

ul li {
  list-style: none;
}
