.dictionary section {
  margin: 20px 0;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0 0 0/10%);
  background: white;
}

.dictionary input {
  width: 100%;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
}

.dictionary .hints {
  font-size: 11px;
  margin-top: 5px;
}

.dictionary h1 {
  text-align: center;
}
.dictionary h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
